<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:analovejoy0209@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ana0209">github.com/ana0209</a></li>
	        		<li><a href="https://math.stackexchange.com/users/819490/ana-lovejoy">math.stackexchange.com/users/819490/ana-lovejoy</a></li>
				</ul>
			</footer>
		</body>
		
		<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"]  ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        },
        "HTML-CSS":{
        	scale:2
        },
        chtml: {
            scale: 2
        },
        svg: {
            scale: 2
        },
        TeX: {equationNumbers: { autoNumber: "AMS" }}
        });
        </script>
       
      <script type="text/javascript" async 
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	</html>
